# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
android/app/build/
ios/build/
.kotlin/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Firebase Config
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# local env files
.env*
.env*.local

# typescript
*.tsbuildinfo

# contoh file
app-example
